#main.grid_8.alpha
  = render 'question'
  = render :partial => "/comments/comments", :locals => { :commentable => @question }
#sidebar.grid_4.omega
  = question_sidebar("Related", @question.category.questions.limit(5))

