%div.comment_box
  = link_to(comment.user.name, user_show_path(comment.user), :class => 'author')
  %span
    = formatted_time comment.created_at
  %p
    = textilize(comment.message).html_safe
  = comment_destroy_link(comment)
