.alert {
  background: rgba(255, 0,0, 0.4);
  padding: 0px 10px;
  color: #fff;
}

.notice {
  background: rgba(0, 255, 0, 0.4);;
  padding: 0px 10px;
  color: #fff;
}

article.how_to {
  padding: 10px;
}

article.how_to h2 {
  font-family: 'ChunkFive Regular', Arial, Helvetica, sans-serif;
  font-size: 28px;
}

article.how_to span {
  color: #999999;
}

span.author {
  margin-right: 20px;
}

article.how_to div.instructions {
  display: block;
  background: #fff;
  border: 1px solid #000;
  padding: 10px;
}

article.how_to p.description {
  padding: 10px;
  display: block;
}

ul.comments_list {
  background: #f3f3f3;
  border: 1px solid #818181;
  padding: 15px;
  margin-top: 20px;
  list-style-type: decimal;
  width: 400px;
  font-family: Verdana;
  font-size: 12px;
  margin-left: 10px;
}

ul.comments_list li {
  border-bottom: 1px solid #818181;
  margin-bottom: 20px;
  margin-right: 25px;
  padding: 0px 0px;
}

ul.comments_list li a.author{
  font-weight: bold;
}

ul.comments_list li span.date{
  margin-left: 20px;
  color: #999999;
}

ul.comments_list li a.delete {
  margin-left:300px;
}

ul.comments_list li p{
  padding: 0px 10px;
  margin: 2px 0px 5px 0px;
  word-wrap: break-word;
}

span.likes {
  /*float:right;*/
  display:block;
}
span.likes span.no_of_likes {
  font-weight: bold;
  font-family: Calibri;
  font-size: 16px;
  color: #555555;
}

article.teaser {
  -webkit-box-shadow: #DDD 0px 1px 2px;
    position: relative;
    background-color: #F4F39E;
    border-color: #DEE184;
    text-align: center;
    margin: 2.5em 0px;
    padding: 1.5em 1em;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    font-family: Chalkboard, 'Comic Sans';
    margin: 30px;
}

article.teaser:after {
    display: block;
    content: "";
    position: absolute;
    width: 110px;
    height: 30px;
    top: -20px;
    left: 35%;
    border: 1px solid #fff;
    background: rgba(254, 254, 254, .6);
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
    box-shadow: 0px 0 3px rgba(0,0,0,0.1);
}

article.teaser h4 a {
  max-height: 40px;
  overflow: hidden;
  display: inline-block;
  padding-bottom: 5px;
}


.home_note {
  display: inline-block;
  width: 450px;
}

h1 a {
  font-size: 16px;
}

.new_comment {
  padding: 10px;
}


/* CSS from jquery UI */

.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */



.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
  background: #cccccc;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
  background: #F71570;
}
