<div id="main">
  <h3>Recent How Tos</h3>
  <% @how_tos.each do |how_to| %>
   <div class = "home_note">
    <%= render :partial => "how_tos/how_to_teaser", :locals => { :how_to => how_to } %>
   </div>
  <% end %>
</div>