<h1><%= "#{@user.email}'s Page" %></h1>
<div id="main" class="grid_6 alpha" >
  <h3>How Tos</h3>
  <% @how_tos.each do |how_to| %>
    <%= render :partial => "how_tos/how_to_teaser", :locals => { :how_to => how_to } %>
  <% end %>
</div>

<div id="main" class="grid_6 omega" >
  <h3>Questions</h3>
  <% @questions.each do |question| %>
     <%= render :partial => "questions/question_teaser", :locals => { :question => question } %>
   <% end %>
</div>
