<div id="main" class="grid_6 alpha" >
  <h3>How Tos</h3>
</div>

<div id="main" class="grid_6 omega" >
  <h3>How Tos</h3>
   <% @how_tos.each do |how_to| %>
     <%= render :partial => "how_to_teaser", :locals => { :how_to => how_to } %>
   <% end %>
</div>

